body{
    font: 400 17px 'Roboto', Arial, Tahoma, Times;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.new_header{
    background-color:#2fa4e7;
    color: white;
    padding: 10px;
    font-size: 20px;
}