.menu {
    flex: 1;
    margin: 5px 5px 5px 0;
}

.menu_name {
    background-color: #3EAAE8;
    color: white;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    padding-left: 20px;
}

.list_menu {
    display: flex;
    flex-flow: column wrap;
    font-size: 17px;
    background-color: #C3E4F6;
}

.feature_name{
    color: rgb(59, 59, 59);
    padding: 10px 20px 10px 35px;

}

.feature_name:hover{
    color: black;
    background-color: #98ceeb;
}