body{
    font: 400 17px 'Roboto', Arial, Tahoma, Times;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.notice_header{
    background-color:#2fa4e7;
    color: white;
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    padding: 10px;
    font-size: 20px;
}
.f_notice{
    background-color: rgb(229, 238, 247);
    padding-left: 40px;
    column-count: 2;
}
.f1_notice{
    font-style: 18px;
    font-weight: bold;
}