.footer{
    background-color: #2fa4e7;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    text-align: center;
    
}
.copy{
    text-align: center !important;
    
    color: white;
}
.nhom{
    text-align: center !important;
    color: white;
}