
.header{
    display: flex;
    align-items: center;
    position: sticky;  
    height: 50px; 
    background-color: #2fa4e7 ;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) ;
    color:white;
    padding: 10px;
    a{
        color:white;
    }
}
.header__left{
    padding-left: 30px;
    flex:1;
    font-size: 20px;
}

.header__center{
    flex:2;
}
.header__right{
    flex:2;
    display: flex;
}
select{
    padding: 5px 5px;
    padding-right: 30px;
    background-color: #ad9898 ;
    color: rgb(240, 234, 234) ;
    border: 2px solid #ccc;
    outline: 2px solid #ccc;
}

.header__right button{
    background-color: #C3E4F6;
    border: none;
    color: rgb(59, 59, 59);
}

.header__right button:hover{
    color: black;
    background-color: #98ceeb;
}