.category_style{
    margin: 0;
    padding: 0;
}

.category_list{
    margin: 5px 5px;
}
.category_name{
    border-radius: 5px 5px 0px 0px;
    background-color:  #3EAAE8;
    padding: 5px;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: white;
}

.category_content{
    background-color:  #C3E4F6;
    display: flex;
    justify-content: space-between;
}

.category_title{
    padding: 5px;
    padding-left: 30px;
    font-size: 17px;
    color: rgb(59, 59, 59);
}

.category_time{
    font-size: 15px;
    color: rgb(168, 168, 168);
    display: flex;
    align-items: center;
    padding-right: 10px;
}

