.formatP_content {
    display: flex;
}

.left {
    flex: 1; // chia đều mh
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    padding: 10%;
}

.right {
    flex: 1;
}

.input {
    display: flex;
    flex-direction: column;
}

.h1 {
    display: flex;
    justify-content: center;
}

.input_yourMail,
.send {
    padding: 8.9px 11px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    margin-bottom: 15px;

}

.send {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 11px;
    background-color: #3EAAE8;
}

.right_images {
    width: 100%;
}