.login_logout {
    display: flex;

    // flex-wrap: wrap;//tự động xuống dòng
    @media (max-width: 800px) {
        flex-direction: column;
    }
    padding: 50px;
    gap: 100px;// để cách các ptu
    background-color: #cfe4f1;;
}

.login_left {
    flex: 1; // chia đều mh
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
}

.login_h1 {
    display: flex;
    justify-content: center;
}

.login_right {
    flex: 1;
}

.login_right_image {
    width: 100%;
}

.login {
    
    display: flex;
    flex-direction: column;

}

.login_password,.Login_acountName {
    padding: 8.9px 11px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;

}
.login_forgetP{
    padding-bottom: 10px;
    // TÁCH CHỮ xa VỚI BOTTON CHƯA LÀM ĐƯỢC
}

.submit_button {
    border: 1px solid #d9d9d9;
    border-radius: 10px;
    padding: 11px;
    background-color: #3EAAE8;

}